@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

.qrave-header {
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #6C5AD8;
    font-weight: bolder;
    margin-top: 5rem;
}

.qrave-sub-header {
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: large;
}

.qrave-video {
    width: 100%;
}

.demo-container {
    width: 100vx;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5rem;
}

.goals-image {
    margin-top: 12rem;
    width: 70rem;
    height: auto;
}

.demoVid {
    margin-top: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;

}

@media(max-width: 658px) {
    .qrave-video {
        width: 100%;
    }

    .qrave-sub-header {
        font-size: 15px;
    }

    .goals-image {
        width: 100%;
    }

    .demo-container {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .demoVid {
        margin-top: 6rem;
    }

    .goals-image {
        margin-top: 5rem;
        width: 100%;
    }

    .demo-container {
        margin: 0.2rem;
    }
}

@media screen and (min-width: 576px) {
    .goals-image {
        width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    .qrave-video {
        width: 50rem;
    }

    .goals-image {
        width: 70rem;
    }
}