@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



.App {
  text-align: center;
  margin-top: 0;
}

.slider-bg{
  background-color: #9485e8;
  border-radius: 2rem;
}

.solution-header {
  font-family: 'Poppins';
  color: #6C5AD8;
  font-weight: bolder;
}

.solution-statement {
  font-family: 'Poppins';
  color: #757575;
  font-weight: normal;
}

.solution-statement2 {
  font-family: 'Poppins';
  color: #9A9A9A;
  font-weight: normal;
  font-style: italic;
}

.solution-statement3 {
  font-family: 'Poppins';
  color: #939393;
  font-weight: normal;
}

.client-margin {
  margin-top: 8rem;

}

.card-cont {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

.solution-card {
  width: 15rem;
  height: auto;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 640px) {
  .card-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;
  }
}

@media(min-width: 947px) {
  .card-cont {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    place-content: center;
  }
}