* {
  margin: 0;
  padding: 0;
}

.qrave-logo {
  margin: 0;
  width: 100px;
  margin-left: 1rem;
}

.links {
  color: #6C5AD8;
  font-size: 0.5;
  cursor: pointer;
  padding-right: 25px;
  text-decoration: none;
}

.links:hover {
  color: #FD003D;
}

.navigation{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px){
  .navigation{
    display: flex;
    justify-content: end;
  }
}