.container{
    background-color: #6C5AD8; 
    } 


.header-font{
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    color: #FFFFFF;
    padding: 15px;
    align-items: right;

}

img{
    width: 110px;
    height: 90px;
}
