
.opacity-50 {
    filter: brightness(0.9);
  }
  
  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
  }
  
  .heroImage{
    width: 100vw;
    height: 401px;
    object-fit: cover;
  }
  
  .HeroSection{
    justify-content: center;
    text-align: left;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 200px;
  }