@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins&display=swap');

.qrave-header{
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Poppins', sans-serif;
color: #6C5AD8;
font-weight: bolder;
}

.qrave-sub-header{
    font-family: 'Poppins', sans-serif;
    color: #757575;
    font-size: large;
}

.qrave-video{
    width: 75%;
}

@media(max-width: 658px){
    .qrave-video{
        width: 100%;
    }

    .qrave-sub-header{
        font-size: 15px; 
    }
}
